* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 1.0rem;
}

.wrapper {
  height: 100vh;
  margin: 0%;
  background: rgba(251, 215, 161);
  max-width: 100%;
  padding: 5% 14%;
  position: relative;
  align-items: center;
  text-align: center;
}

/* .submission {
  margin: 10%;
  background: rgba(251, 215, 161);
  max-width: 100%;
  padding:;
  position: relative;
  align-items: center;
  text-align: center;
} */

h1 {
  color: orangered;
  font-size: 2.5rem;
  line-height: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.header-img img {
  width: 25%;
  position: absolute;
  top: 180px;
  right: 130px;
}

.about-img-small img {
  padding-top: 0px;
  max-height: 30%;
  max-width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.question-container {
  padding-top: 5%;
}

.hero h1 {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
}

.wrapper .hero {
  text-align: left;
  margin: 50px 20%;
  position: relative;
  right: 120px;
}

.arrowDown a {
  font-size: 2.5em;
  color: orange;
  text-decoration: none;
  position: relative;
  top: 30px;
}

.arrowDown a:hover {
  color: grey;
}

/* About */

.about-text {
  text-align: left;
}

.about-text h1 {
  padding: 30px 0;
}

.about-text a {
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
}

.about-text p {
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.about-text h2:hover {
  text-shadow: 0 0 18px rgba(66, 65, 65, 0.31);
}

/* .aboutArrow {
  position: relative;
  bottom: 30px;
} */

/* Questionnaire */

form img {
  width: 20%;
  position: relative;
  bottom: 180px;
  left: 260px;
}

/* checkbox */

.next {
  font-size: 1.6rem;
  margin-left: 4%;
  color: orangered;
  text-transform: uppercase;
}
.question-container h3 {
  color: orange;
  font-size: 3em;
  padding-left: 20px;
  line-height: 110%;
  padding-bottom: 50px;
}
.question-left {
  text-align: left;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

form input[type="radio"] {
  visibility: hidden;
}

form input[type="radio"] + label {
  background: url("../assets/images/radio-unchecked.png") left top no-repeat;
  padding-left: 30px;
  font-size: 1.6rem;
  line-height: 2;
  border-bottom: 3px solid transparent;
  position: relative;
  text-align: left;
  letter-spacing: 0.5px;
}
form input[type="radio"] + label:hover {
  color: orange;
  text-shadow: 0 0 18px rgba(66, 65, 65, 0.31);
}

form input[type="radio"]:checked + label {
  background: url("../assets/images/mxblack.png") left top no-repeat;
  background-size: 20px;
  opacity: 1;
}

.btn-primary {
  background-color: orange;
  color: white;
  border: none;
  /* bottom: 10px; */
  padding: 17%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px;
  /* border-radius: 20px; */
}
/* animations */

/* bounce for arrow */
.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

/* results */

.results {
  padding: 50px;
  text-align: center;
  font-size: 1.6rem;
}

.results h2 {
  font-family: "Pacifico";
  color: #341f20;
  font-size: 2rem;
  text-align: center;
}

.results p {
  line-height: normal;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  /* line-height: 1.2em; */
}

.results img {
  border-radius: 20px;
  position: static;
  width: 30%;
}

footer {
  background-color: orangered;
  text-align: center;
  color: white;
  font-weight: 300;
  padding: 30px;
}

.credits {
  text-align: center;
}

@media (max-width: 1050px) {

.about p {
    font-size: 1.2rem;
}

.about img {
    display: none;
}

.questions h3 {
    font-size: 1.0rem;
}


  form img {
    width: 20%;
    position: relative;
    bottom: 100px;
    left: 260px;
  }
}

@media (max-width: 800px) {

  html img {
    position: static;
    /* display: none; */
  }

  form img {
    padding-bottom: 20px;
    width: 50%;
    height: auto;

    display: none;
  }

  form input[type="radio"] + label {
    background: url("../assets/images/radio-unchecked.png") left top no-repeat;
    padding-left: 30px;
    font-size: 15px;
    line-height: 2;
    border-bottom: 3px solid transparent;
    position: relative;
    text-align: left;
    letter-spacing: 0.5px;
  }

  .btn-primary {
    padding: 30%;
  }

  @media (max-width: 600px) {
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }

    form {
      overflow: hidden;
    }

    .header-img img {
      width: 60%;
      position: static;
      right: 30px;
      bottom: 40px;
    }

    .question-container img {
      width: 80%;
    }

    .wrapper .hero {
      text-align: left;
      margin: 30px 00%;
      position: relative;
      right: 0px;
    }

    .about-text {
      margin: 4% 0%;
      line-height: normal;
      right: 0;
    }

    .about-text h3 {
      font-size: 1em;
      margin: 5% 0;
    }

    .about-text h2 {
      font-size: 20px;
      padding: 20px;
    }

    form input[type="radio"] + label {
      background: url("../assets/images/radio-unchecked.png") left top no-repeat;
      padding-left: 40px;
      font-size: 10px;
      line-height: 2;
      border-bottom: 3px solid transparent;
      position: relative;
      text-align: left;
      letter-spacing: 0.5px;
    }

    .next {
      position: relative;
      top: 20px;
    }

    .question-left {
      text-align: left;
      font-weight: bold;
      margin: 10px 0;
    }

    .question-left h3 {
      padding: 0;
      margin: 20px 0;
      font-size: 2em;
    }

    form input[type="radio"] + label {
      background: url("../assets/images/radio-unchecked.png") left top no-repeat;
      padding-left: 30px;
      font-size: 12px;
      line-height: 20px;
      border-bottom: 3px solid transparent;
      /* position: relative; */
      text-align: left;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
      display: block;
    }

    form input[type="radio"]:checked + label {
      background: url("../assets/images/mxblack.png") left top no-repeat;
      background-size: 25px;
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    html {
      background-color: rgba(251, 215, 161);
    }
 

    .submission button {
      font-size: 1.2rem;
    }

    .submission button:hover {
      color: orangered;
    }

    .divider {
      display: none;
    }

    .arrowDown a {
      font-size: 2em;
      position: relative;
      top: -10px;
    }

    .hero h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .hero h2 {
      font-size: 17px;
      line-height: 30px;
      padding: 20 0px;
    }

    .about {
      padding-top: 20px;
    }

    .about-text h1 {
      font-size: 20px;
    }

    .about-text h3 {
      font-size: 15px;
    }

    .about-text h2 {
      font-size: 18px;
      margin: 0;
      padding: 40px 10px 0 0;
    }

    .about img {
        display: flex;
        width: 599px;
    }

    .question-container {
      margin-top: 60px;
    }

    .question-container img {
      width: 30%;
      display: block;
      align-items: center;
      padding-top: 50px;
    }

    .question img {

    }

    .results img {
      padding: 0;
      margin: 0;
      text-align: center;
      width: 100%;
      display: flex;
    }

    .results h2 {
      margin: 0;
      line-height: 100%;
      font-size: 2rem;
      text-align: center;
    }

    .results p {
      line-height: normal;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      padding: 0;
      margin: 0;
      /* line-height: 1.2em; */
    }

    .about-text p {
      font-size: 1rem;
    }
    .about-text a {
      font-size: 1rem;
    }
  }
}
